# Database
DB_URL=jdbc:postgresql://postgres-db:5432/togezzer
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_MESSAGE_EXCHANGE=message.exchange
RABBITMQ_QUEUE_CHAT_SAUVEGARDE=queue-message-chat-sauvegarde
RABBITMQ_EXCHANGE_CHAT_SAUVEGARDE_DLQ=exchange-message.dlq
RABBITMQ_QUEUE_LIVE_CHAT=queue-message-live-chat-service
RABBITMQ_ROUTING_CHAT_SAUVEGARDE=routing-message-chat-sauvegarde
RABBITMQ_ROUTING_LIVE_CHAT=routing-message-live-chat-service
RABBITMQ_ROUTING_CHAT_SAUVEGARDE_DLQ=routing-message-chat-sauvegarde.dlq

# Services
CHAT_SAUVEGARDE_BASE_URL=http://chat-sauvegarde:8081

# Minio
MINIO_BASE_URL=http://minio:9000
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin

# JWT
JWT_SECRET=un_vrai_secret_long_et_securise_pour_la_prod

# CORS
CORS_ALLOWED_ORIGINS=http://mondomaine.com